# Git
.git
.gitignore
.gitattributes

# Docker
docker-compose.*
docker-compose.yml
Dockerfile
.docker
.dockerignore

# Virtual environment
.env
.venv/
venv/

# PyCharm
.idea
__pycache__

# VS Code
.vscode/

#database
data_store/